<div class="container">

  <div class="col s12 m12"  *ngFor="let item of personagemView">
      
      <div class="card horizontal">
        <div class="card-image">
            
          <img width="100" alt="Angular Logo" 
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/Star_Wars_Logo.svg/2000px-Star_Wars_Logo.svg.png">
              
        </div>
        <div class="card-stacked">
          <div class="card-content">
              <p>Nome: {{item.nome}}</p>
              <p>Gênero: {{item.genero}}</p>
          </div>
          <div class="card-action"><br>
            <strong><p><a class="waves-effect waves-light btn" [routerLink]="['/personagem', item.id]">
              <i class="material-icons">add</i> Detalhes</a></p></strong>
          </div>
        </div>
      </div>
    </div>










  <!-- <div class="col s6 m6">
    <div class="card">

      <div class="card-content">
          
        <span class="card-title activator grey-text text-darken-4">
          </span>
          
          <p>Nome: {{item.nome}}</p>
          <p>Gênero: {{item.genero}}</p>
        
          <br>
        <strong><p><a class="waves-effect waves-light btn" [routerLink]="['/personagem', item.id]">
          <i class="material-icons">add</i> Detalhes</a></p></strong>
      
      </div>
      
    </div>
  </div> -->

<div class="row" style="text-align: center">
    
    <a class="waves-effect waves-light btn" *ngIf="proximo !== null" (click)="paginacao(true)">
      Mostrar mais personagens</a> 
  </div>

</div>